@import "./blocks/fonts";
@import 'blocks/header';
@import 'blocks/divider';
@import 'blocks/promo';

html {
   font-family: 'Martel Sans', 'Poppins', 'Open Sans Condensed Bold', sans-serif;
}

a {
   text-decoration: none;
   color: transparent;
}

// @import "base/variables";
// @import "base/animation";
@import "libs/bootstrap-reboot.min";
// @import "libs/slick";
// @import "libs/animate";
// @import "base/media";

.container {
   max-width: 1300px;
   padding: 0 1rem;
   margin: 0 auto;
}