@font-face {
  font-family: "Martel Sans", sans-serif;
  src: url('../../fonts/MartelSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Martel Sans", sans-serif;
  src: url('../../fonts/MartelSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;


}

@font-face {
  font-family: "Martel Sans", sans-serif;
  src: url('../../fonts/MartelSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Martel Sans", sans-serif;
  src: url('../../fonts/MartelSans-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;

}

// popins================================

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;

}


@font-face {
  font-family: "Open Sans Condensed Bold", sans-serif;
  src: url('../../fonts/OpenSans_Condensed-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}